!!!
%html{ 'ng-app' => 'app'}
  %head
    %title 5280Code.com
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags
  %body
    %header
      %nav.navbar.navbar-default.navbar-fixed-top{ 'role' => 'navigation', 'ng-controller' => 'menuCtrl' }
        .container
          .row.header
            .col-md-offset-4.col-md-4
              .text-center
                Logo HERE
                %p By Matthew Bender
          .navbar-header
            = button_tag class: 'navbar-toggle',
              data: { toggle: 'collapse', target: '.navbar-collapse' } do
              %span.sr-only Toggle Navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to '5280 Code', '/', class: 'navbar-brand'
          .collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li{'ng-class' => "{active: is_active('/')}" }
                = link_to '/' do
                  %i.fa.fa-medium.fa-home
                  Home
              %li{'ng-class' => "{active: is_active('/fitness')}" }
                = link_to '/fitness' do
                  %i.fa.fa-medium.fa-tachometer
                  Fitness
              %li{'ng-class' => "{active: is_active('/bitcoin')}" }
                = link_to '/bitcoin' do
                  %i.fa.fa-medium.fa-bitcoin
                  Bitcoin
              %li{'ng-class' => "{active: is_active('/meetups')}" }
                = link_to '/meetups' do
                  %i.fa.fa-medium.fa-users
                  Meet Ups
            %ul.nav.navbar-nav.navbar-right
              %li
                = link_to 'https://github.com/codebender', target: '_blank' do
                  %i.fa.fa-medium.fa-github-square
                  Github
              %li
                = link_to 'https://twitter.com/5280code', target: '_blank' do
                  %i.fa.fa-medium.fa-twitter-square
                  Twitter
              %li
                = link_to 'http://www.linkedin.com/in/matthewkbender', target: '_blank' do
                  %i.fa.fa-medium.fa-linkedin-square
                  LinkedIn
              %li
                = link_to 'http://instagram.com/bendo', target: '_blank' do
                  %i.fa.fa-medium.fa-instagram
                  Instagram
    .container
      = yield
    %footer.footer
      .container
        %p
          5280Code.com
          &bull;
          Bitcoin:
          = link_to '1HPCA8pXvteXQifF4KXnN5y4ZVrdKNuWhX', 'bitcoin:1HPCA8pXvteXQifF4KXnN5y4ZVrdKNuWhX'
        %p
          © 2013-2014
          = link_to 'Bent Solutions, LLC', 'http://www.bentsolutions.com'
          All rights reserved.
    = javascript_include_tag "application"
    = render partial: 'layouts/shared/google_analytics'
